<div>
    <app-navbar> </app-navbar>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Votings</h1>
            <p class="lead">Place where each community member can see his own Votings</p>
            <!-- Open Modal -->
            <button type="button" class="btn btn-lg btn-success" ng-show="isUserAdmin()" data-toggle="modal" data-target="#ModalCenter">Add Voting</button>

        </div>
    </div>
    <div>
        <voting-accordion></voting-accordion>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLongTitle">New voting</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Voting title</label>
                            <input type="text" class="form-control" id="inputTitle" placeholder="Messgae Title" ng-model="newVoting.title">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Voting Details</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" ng-model="newVoting.details"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Voting priority</label>
                            <select class="form-control" id="exampleFormControlSelect1" ng-model="newVoting.options">
                                <option>Low</option>
                                <option>Medium</option>
                                <option>High</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="addVoting()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>