<div id="votingAccordion">
    <div class="card" ng-repeat="voting in votingsArr">
        <div class="card-header" id="heading">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#votingCollapse{{$index}}" ng-click="updateChart(voting)" aria-expanded="true" aria-controls="collapse{{$index}}">
                    {{voting.title}}
                </button>
            </h5>
        </div>

        <div id="votingCollapse{{$index}}" class="collapse" ng-class="{show : $index===0}" aria-labelledby="heading" data-parent="#voitingAccordion">
            <div class="card-body">
                <form class="row">
                    <div class="col">
                        <div>Title:      {{voting.title}}</div>
                        <div>Details:    {{voting.details}}</div>
                        <div>Created on: {{voting.creationTime | date : 'medium'}}</div>
                        <div>Due date:   {{voting.dueDate | date : 'medium'}}</div>
                        <div>Priority:   {{voting.priority}}</div>
                        
                        <div class="form-group">
                            <label for="voteOption">Select your vote</label>
                            <select id="voteOption" class="col-sm-3" ng-model="selection">
                                <option ng-repeat="option in voting.options">{{option}}</option>
                            </select>
                            <button type="button" class="btn btn-sm btn-primary" ng-click="submitVote(voting, selection)">Submit vote</button>
                        </div>
                        <button type="button" class="btn btn-xs btn-success" ng-show="isUserAdmin()" ng-click="deleteVoting(voting)">Delete</button>
                    </div>
                    <div class="col">
                        <canvas id="pie" class="chart chart-pie" chart-data="dataForChart" chart-labels="labels" chart-options="options">
                        
                        </canvas>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>