<div class="container login mt-6">
    <h1>Sign Up to your home committee account</h1>

    <form>
        <h3>Personal information</h3>
        <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" placeholder="First name">
        </div>
        <div class="form-group">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Last name">
        </div>
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" ng-model="email">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" ng-model="password">
        </div>
        <div class="form-group">
            <label for="pwd">Re-enter password:</label>
            <input type="password" class="form-control" id="pwd" ng-model="password">
        </div>
        <h3>Your community</h3>
        <div class="form-group">
                <label for="firstName">Community name</label>
                <input type="text" class="form-control" id="firstName" placeholder="Community name">
            </div>
            <div class="form-group">
                <label for="lastName">Street</label>
                <input type="text" class="form-control" id="lastName" placeholder="Street">
            </div>
            <div class="form-group">
                    <label for="lastName">City</label>
                    <input type="text" class="form-control" id="lastName" placeholder="City">
                </div>


        <button type="button" class="btn btn-block btn-lg btn-success" ng-click="login()">Sign Up</button>
    </form>
</div>